{% extends "layout.html" %}

{% block content %}




<div class="container">
    <h1>Video player</h1>

    <div id="video-container">
        <img id="video" src="" alt="Waiting for video">
    </div>
    <h2>Controll panel</h2>
    <div>
        <button type="button" class="btn btn-success" onclick="sendCommand('start')"><i class="bi bi-play-fill"></i></button>
        <button type="button" class="btn btn-danger" onclick="sendCommand('stop')"><i class="bi bi-pause-fill"></i></button>
        <!--<button onclick="sendCommand('rewind')">Rewind</button>-->

        <h3>Rewind bar</h3>
        <input type="range" id="rewind-slider" min="0" max="800" value="0" step="1">
        <span id="current-time">0s</span>


        <h3>
            <button id="cut_button" type="button" class="btn btn-warning" style="display: none;" onclick="select_trim_range()">Trim video<i class="bi bi-scissors"></i></button>
        </h3>

        <div id="progress_div" class="progress" style="display:none">
            <div id="progress_bar" class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 0%; display: none;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>

        <div id="slider"></div>
        <div id="range"></div>
        <div id="subtiles_trimmed" style="display: none;">
            <p id="subtitles_trimmed" class="lh-1"></p>
        </div>
    </div>

    <div id="status">
        <span id="status-text" class="status-text status-disconnected">Connecting...</span>
    </div>
</div>




{% endblock %}
{% block scripts %}
<script defer>



    const socket = io();

    socket.on('connect', () => {
        console.log('Connected to server');
        setStatus('Connected');
    });

    socket.on('frame', (jpg_as_text) => {
        const img = document.getElementById('video');
        img.src = 'data:image/jpeg;base64,' + jpg_as_text;
    });

    socket.on('disconnect', () => {
        console.log('Disconnected from server');
        setStatus('Disconnected');
    });

    function setStatus(status) {
        const statusText = document.getElementById('status-text');
        statusText.textContent = status;
        if (status === 'Connected') {
            statusText.classList.remove('status-disconnected');
            statusText.classList.add('status-connected');
            statusText.textContent = 'Connected';
        } else {
            statusText.classList.remove('status-connected');
            statusText.classList.add('status-disconnected');
            statusText.textContent = 'Disconnected';
        }

    }
    function sendCommand(command) {
        console.log(command, { "Command": command, "video": '{{ video }}'});

        socket.emit(command, { "Command": command, "video": '{{ video }}' });


        //console.log("Command:", command);
        //socket.emit(command);
    }
    //function sendRewind() {

    //    const rewindTime = document.getElementById('rewind-slider').value;
    //    console.log("Rewind to:", rewindTime);
    //    socket.emit('rewind', { time: rewindTime });
    //}
    //function sendRewind() {

    //    const rewindTime = document.getElementById('rewind-slider').value;
    //    console.log("Rewind to:", rewindTime);
    //    socket.emit('rewind', { time: rewindTime });
    /*}*/

    function cut_slider(maxTime) {
        var slider = document.getElementById('slider');
        var range = document.getElementById('range');
        noUiSlider.create(slider, {
            start: [0, 2],
            connect: true,
            tooltips: true,
            pips: {
                mode: 'steps',
                stepped: true,
                density: 4
            },
            range: {
                'min': 0,
                'max': maxTime

            }

        });

    }

    function select_trim_range() {
        const handleup = document.querySelector('.noUi-handle-upper');
        const handlelow = document.querySelector('.noUi-handle-lower');
        const progress_bar = document.getElementById('progress_bar');
        const progress_div = document.getElementById('progress_div');
        progress_bar.style.display = 'inline';
        progress_div.style.display = 'flex';

        if (handleup && handlelow) {
            const valueUp = handleup.getAttribute('aria-valuenow');
            const valueLow = handlelow.getAttribute('aria-valuenow');

            socket.emit('trim_video', { valueUp: valueUp, valueLow: valueLow })
        }
    }



    socket.on('set_max_time', (data) => {
        const maxTime = data.max_time;
        document.getElementById('rewind-slider').max = maxTime;
        console.log("Max time set to:", maxTime);
        const button = document.getElementById('cut_button');
        button.style.display = 'inline';

        const slider = document.getElementById('slider');

        if (slider.noUiSlider) {
            
            slider.noUiSlider.updateOptions({
                range: {
                    'min': 0,
                    'max': maxTime
                }
            });
        }
        else {
            cut_slider(maxTime);
        }
        

    });
    socket.on('curr_film_time', (data) => {
        const curr_time = data.curr_time;
        document.getElementById('rewind-slider').value = curr_time;
        document.getElementById('current-time').textContent = curr_time + "s"

    });
    document.getElementById('rewind-slider').addEventListener('input', function () {
        const time = this.value;
        document.getElementById('current-time').textContent = time + "s";
        socket.emit('rewind', { time: time })

    });

    socket.on('trimmed_subtitles', (data) => {
        const trimmed_sub = data.subtitles;
        const subtitlesDiv = document.getElementById('subtiles_trimmed');
        const subtitlesParagraph = document.getElementById('subtitles_trimmed');

        if (trimmed_sub !== '') {
            subtitlesParagraph.textContent = trimmed_sub;
            subtitlesDiv.style.display = 'block';
        } else {
            subtitlesDiv.style.display = 'none';
        }
    });

    socket.on('progress_update', (data) => {
        const progressValue = data.progress;
        const progress_bar = document.getElementById('progress_bar');
        if (progressValue == 'Done') {
            progress_bar.innerText = `Trimmed video saved`;
            progress_bar.setAttribute('class', "progress-bar bg-success");

        } else {
            progress_bar.setAttribute('aria-valuenow', progressValue);
            progress_bar.style.width = `${progressValue}%`;

            progress_bar.innerText = `${progressValue}%`;
        }

        

        
        /*document.getElementById('current-time').textContent = curr_time + "s"*/

    });

</script>
{% endblock %}