{% extends "layout.html" %}

{% block content %}

<!--<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>-->


    <div class="container">
        <h1>Live Camera Feed</h1>

        <div id="video-container">
            <img id="video" src="" alt="Live Camera Feed">
        </div>
        <h2>Controll panel</h2>
        <div>
            <button type="button" class="btn btn-success" onclick="sendCommand('start')">Start</button>
            <button type="button" class="btn btn-danger" onclick="sendCommand('stop')">Stop</button>
            <!--<button onclick="sendCommand('rewind')">Rewind</button>-->

            <h3>Rewind to:</h3>
            <input type="range" id="rewind-slider" min="0" max="800" value="0" step="1">
            <span id="current-time">0s</span>
            <button type="button" class="btn btn-warning" onclick="select_trim_range()">Cut</button>

            <h3>Cut</h3>
            <div id="slider"></div>
            <div id="range"></div>

            <div id="subtiles_trimmed" style="display: none;">
                <p id="subtitles_trimmed" class="lh-1"></p>
            </div>
        </div>

        <div id="status">
            <span id="status-text" class="status-text status-disconnected">Connecting...</span>
        </div>
    </div>

    


{% endblock %}
{% block scripts %}
<script defer>
    

    //range.style.height = '400px';
    //range.style.margin = '0 auto 30px';

    //var valuesDivs = [
    //    document.getElementById('range-value-1'),
    //    document.getElementById('range-value-2'),
    //    document.getElementById('range-value-3'),
    //    document.getElementById('range-value-4')
    //];

    //var diffDivs = [
    //    document.getElementById('range-diff-1'),
    //    document.getElementById('range-diff-2'),
    //    document.getElementById('range-diff-3')
    //];

    //range.noUiSlider.on('update', function (values, handle) {
    //    valuesDivs[handle].innerHTML = values[handle];
    //    diffDivs[0].innerHTML = values[1] - values[0];
    //    diffDivs[1].innerHTML = values[2] - values[1];
    //    diffDivs[2].innerHTML = values[3] - values[2];
    //});
    
    //var slider = document.querySelector("#kt_slider_basic");
    //var valueMin = document.querySelector("#kt_slider_basic_min");
    //var valueMax = document.querySelector("#kt_slider_basic_max");

    //noUiSlider.create(slider, {
    //    start: [20, 80],
    //    connect: true,
    //    range: {
    //        "min": 0,
    //        "max": 100
    //    }
    //});

    //slider.noUiSlider.on("update", function (values, handle) {
    //    if (handle) {
    //        valueMax.innerHTML = values[handle];
    //    } else {
    //        valueMin.innerHTML = values[handle];
    //    }
    //});
    const socket = io();

    socket.on('connect', () => {
        console.log('Connected to server');
        setStatus('Connected');
    });

    socket.on('frame', (jpg_as_text) => {
        const img = document.getElementById('video');
        img.src = 'data:image/jpeg;base64,' + jpg_as_text;
    });

    socket.on('disconnect', () => {
        console.log('Disconnected from server');
        setStatus('Disconnected');
    });

    function setStatus(status) {
        const statusText = document.getElementById('status-text');
        statusText.textContent = status;
        if (status === 'Connected') {
            statusText.classList.remove('status-disconnected');
            statusText.classList.add('status-connected');
            statusText.textContent = 'Connected';
        } else {
            statusText.classList.remove('status-connected');
            statusText.classList.add('status-disconnected');
            statusText.textContent = 'Disconnected';
        }

    }
    function sendCommand(command) {
        console.log("Command:", command);
        socket.emit(command);
    }
    //function sendRewind() {

    //    const rewindTime = document.getElementById('rewind-slider').value;
    //    console.log("Rewind to:", rewindTime);
    //    socket.emit('rewind', { time: rewindTime });
    //}
    //function sendRewind() {

    //    const rewindTime = document.getElementById('rewind-slider').value;
    //    console.log("Rewind to:", rewindTime);
    //    socket.emit('rewind', { time: rewindTime });
    /*}*/

    function cut_slider(maxTime) {
        var slider = document.getElementById('slider');
        var range = document.getElementById('range');
        noUiSlider.create(slider, {
            start: [20, 80],
            connect: true,
            tooltips: true,
            pips: {
                mode: 'steps',
                stepped: true,
                density: 4
            },
            range: {
                'min': 0,
                'max': maxTime

            }

        });
        
    }

    function select_trim_range(){
        const handleup = document.querySelector('.noUi-handle-upper');
        const handlelow = document.querySelector('.noUi-handle-lower')


        if (handleup && handlelow) {
            const valueUp = handleup.getAttribute('aria-valuenow');
            const valueLow = handlelow.getAttribute('aria-valuenow');

            socket.emit('trim_video', { valueUp: valueUp,valueLow : valueLow})
        }
    }

    

    socket.on('set_max_time', (data) => {
        const maxTime = data.max_time;
        document.getElementById('rewind-slider').max = maxTime;
        console.log("Max time set to:", maxTime);

        cut_slider(maxTime);
    });
    socket.on('curr_film_time', (data) => {
        const curr_time = data.curr_time;
        document.getElementById('rewind-slider').value = curr_time;
        document.getElementById('current-time').textContent = curr_time + "s"

    });
    document.getElementById('rewind-slider').addEventListener('input', function () {
        const time = this.value;
        document.getElementById('current-time').textContent = time + "s";
        socket.emit('rewind', { time: time })
        
    });

    socket.on('trimmed_subtitles', (data) => {
        const trimmed_sub = data.subtitles;
        const subtitlesDiv = document.getElementById('subtiles_trimmed');
        const subtitlesParagraph = document.getElementById('subtitles_trimmed');

        if (trimmed_sub !== '') {
            subtitlesParagraph.textContent = trimmed_sub;
            subtitlesDiv.style.display = 'block';
        } else {
            subtitlesDiv.style.display = 'none';
        }
    });

</script>
{% endblock %}