{% extends "layout.html" %}



{% block headblock %}

{% endblock %}

{% block content %}



<div class="card">
    <input class="form-check-input me-1" type="checkbox" value="Tylko bez transkrycji" aria-label="...">
    <div class="card-body">
        <ul class="list-group">
            {% for file in files %}

            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                {{ file.video }}
                
                <a onclick="start_transcription('{{ file.video }}')" href="viewer?video={{ file.video }}" class="btn btn-primary">Transcript Video</a>

                {% if file.txt_csv %}

                <a onclick="videoPath()" href="viewer?video={{ file.video }}" class="btn btn-primary">Play video</a>

                {% endif %}

            </li>


            {% endfor %}
        </ul>


    </div>

</div>

{% endblock %}

{% block scripts %}

<script>
    function videoPath() {
        //document.getElementById
        console.log("Command:", command);
        socket.emit(command);
    }

    function start_transcription(videoFile) {
        socket.emit('start_transcription', { VideoFile: videoFile})
    }

</script>

{% endblock %}
